{% extends "layout.html" %}
{% set active_page = "index" %}

{% block content %}

{% import 'macros/poll_home_page_card.html' as card %}
{% import 'macros/pagination.html' as pagination %}

<h1 class="mb-4 fw-normal">Explore latest polls</h1>
<div id="polls-container">

    {% for poll in polls %}
    {{ card.home_page_poll_card(poll) }}
    {% endfor %}
</div>
{{ pagination.render_pagination(polls, "main.polls_page") }}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{url_for('static', filename='pollBarChartPreview.js')}}"></script>

{% endblock %}