<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <style>
        .custom-bar {
            height: 20px;
            text-align: center;
            border-radius: 100px;
            overflow: hidden;
            
        }

        .wrapper {
            display: flex;
            justify-content: center;
            
        }

        .container {
            width: 50%;
        }

        body {
            background-color: black;
        }

        .bar-segment {
            height: 100%;
            display: inline-block;
        }
    </style>
    <div class="wrapper">
        <div class="container">
            <!-- <div class="custom-bar"></div> -->
        </div>
    </div>

    <script>
        const testValues = [33, 12, 54, 23];
        const customBarFactory = (poll_values) => {
            const barSegmentColors = ['#1C3144', '#3B5053', '#596F62', '#7EA16B', '#A1BD82', '#C3D898', '#9A775B', '#70161E']
            const bar = document.createElement('div');
            const totalVotesCount = poll_values.reduce((acc, curr) => acc + curr);
             
            bar.classList.add('custom-bar');
            for (let i = 0; i < poll_values.length; i++) {
                const barSegment = document.createElement('div');
                const barSegmentWidth = (poll_values[i] / totalVotesCount) * 100;
                barSegment.classList.add('bar-segment');
                barSegment.style.width = `${barSegmentWidth}%`;
                barSegment.style.backgroundColor = barSegmentColors[i];
                bar.appendChild(barSegment);
            }
            return bar;
        }

        const container = document.querySelector('.container');
        const testBar = customBarFactory(testValues);
        container.appendChild(testBar);

    </script>
</body>

</html>