{% extends "layout.html" %}
{% set active_page = "profile" %}

{% block content %}

<h1>Hello, {{ user.username }}</h1>

<!-- Profile mockup: -->
<div class=" w-50 my-5">
    <p class="fw-bold">Profile information:</p>
    <table class="table">
        <tr>
            <td>E-mail address</td>
            <td>{{ user.email }}</td>
        </tr>

        <tr>
            <td>Joined:</td>
            <td>{{ user.join_date.strftime('%d.%m.%Y') }}</td>
        </tr>

        <tr>
            <td>Polls created:</td>
            <td>{{ user.number_of_polls_created}}</td>
        </tr>

        <tr>
            <td>Vote count:</td>
            <td>{{ user.number_of_votes }}</td>
        </tr>

    </table>
</div>


<div class="mb-5">
    <h1>Your polls:</h1>
    {% for poll in user.polls %}
        <a href="{{ url_for('polls.poll_vote', poll_id=poll.id) }}">{{poll.name}}</a>
    {% endfor %}
    <div>

    </div>
</div>

<button type="submit" class="btn btn-primary px-5">Change password</button>
<button type="submit" class="btn btn-danger px-5">Delete account</button>

{% endblock %}