{% extends "layout.html" %}

{% block page_title %}
Polls - Change password
{% endblock %}

{% block content %}
<p class="fs-1">Change password</p>
<form action="{{ url_for('auth.change_password')}}" method="post">

    <label for="old_password" class="form-label" >Old password:</label>
    <input class="form-control" type="password" name="old_password"><br>

    <label for="new_password" class="form-label" >New password:</label>
    <input class="form-control"  type="password" name="new_password"><br>

    <label for="confirm_new_password" class="form-label" >Confirm new password:</label>
    <input class="form-control"  type="password" name="confirm_new_password"><br>

    

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary px-5" name="change_password" method="post">Change password</button>
    </div>


</form>


{% endblock %}